body {
    background-color:coral;
}

div.poster {
    background-color:rgb(37, 120, 187);
    width:75%;
}

div.text {
    font-size:150px;
    font-family:roboto;
    color:magenta;
    transition:0.5s;
}

/* rule 1 */

div.text.one {
    font-size:35px;
}

div.text.two {
    font-size:70px;
}

div.text.three {
    font-size:140px;
}

/* rule 2 */


div.text.a {
    text-align: left;
}

div.text.b {
    text-align:center;
}

div.text.c {
    text-align:right;
}

/* rule 3 */

div.text.x {
    text-transform:uppercase;
}

div.text.y {
    text-transform:lowercase;
}

div.text.z {
    text-transform:none;
}

div.small {
    font-size:25px;
    font-family:book antiqua;
    text-align:center;
    color:black;
}