body {
    background-color:gold;
}

div.poster {
    background-color:gold;
    background-size: contain;
    width:75%;
    margin-left: auto;
    margin-right: auto;

}



div.text {
    font-family: Verdana;
    font-size:300px;
    transition: 2s;
}

div.container {
    display: flex;
    flex-wrap: wrap;
    
}



div.w1-4 {
    width: 25%;
}

div.w2-4 {
    width: 50%
}

div.w3-4 {
    width: 75%;
}

div.w4-4 {
    width: 100%;
}


div.top {
    color: red;
    font-family: Times New Roman;
    font-size: 100px;
    text-align: center;
    text-transform: uppercase;
    outline: 5px solid red;
    transform: rotate(90deg);
}

/* rule 1 */

div.text.one {
    color: black;
    font-family: Franklin Gothic Medium;
    font-style: oblique;
    font-size: 280px;
    text-align: center;
    text-shadow: 5px 5px red;
}

div.text.two {
    font-family: helvetica;
    font-weight: bold;
    font-size: 250px;
    text-align: left;
    text-transform: uppercase;


}

div.text.three {
    font-family:keyboard;
    font-size: 250px;
    

}

/* rule 2 */


div.text.a {
    transform: skew(20deg);
    
}

div.text.b {
    transform: none;
}

div.text.c {
    transform: rotateY(180deg);
    
}

/* rule 3 */

div.text.x {
    color:black;
   
}

div.text.y {
    color: red;
}

div.text.z { 
    color: gold;
}


