body {
    background-color:white;
}

div.poster {
    background-color:white;
    background-size: contain;
    width:75%;
    margin-left: auto;
    margin-right: auto;

}



div.text {
    font-family: Verdana;
    font-size:300px;
    transition: 2s;
}

div.container {
    display: flex;
    flex-wrap: wrap;
    
}



div.w1-4 {
    width: 25%;
}

div.w2-4 {
    width: 50%
}

div.w3-4 {
    width: 75%;
}

div.w4-4 {
    width: 100%;
}


div.top {
    font-family: Times New Roman;
    font-size: 50px;
    text-align: right;
    text-transform: uppercase;
    color: black;
    width: 100%;
    padding-top: 5px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 5px;

  
}

div.small {
    font-family: Times New Roman;
    font-size: 50px;
    text-shadow: 0 0 10px black;
    color: transparent;
}

/* rule 1 */

div.text.one {
    color: black;
    font-family: Franklin Gothic Medium;
    font-style: oblique;
    font-size: 280px;
    text-align: center;
    text-shadow: 25px 50px rgba(0, 0, 0, 0.5);
}

div.text.two {
    font-family: Helvetica;
    font-weight: bold;
    font-size: 250px;
    text-align: center;
    text-transform: uppercase;


}

div.text.three {
    font-family:Franklin Gothic Medium;
    font-weight:lighter;
    text-align: center;
    font-size: 250px;
        
}

/* rule 2 */


div.text.a {
    transform: skew(45deg);
    
}

div.text.b {
    transform: none;
}

div.text.c {
    transform: rotateY(180deg);
    
}

/* rule 3 */

div.text.x {
    color:rgb(255, 106, 0);
   
}

div.text.y {
    color: red;
}

div.text.z { 
    color: gold;
}


