body {
    background-color:black;
}

div.poster {
    background-color:white;
    /* background-image: url('grid.jpg'); */
    background-size: contain;
    width:75%;
    margin-left: auto;
    margin-right: auto;
    /* background-image:url('vector.png');
    background-repeat: no-repeat;
    background-size:contain;
    background-position: center center;
    color:transparent; */
}



div.text {
    font-size:100px;
    font-family:helvetica;
    text-align: left;
    color: black;
    transition:0.5s;
}


div.container {
    display: flex;
    flex-wrap: wrap;
    max-height: 10px;
    
}

div.col {
    outline: dotted 2px black;
    min-height: 1px;

}


div.w1-4 {
    width: 25%;
}

div.w2-4 {
    width: 50%
}

div.w3-4 {
    width: 75%;
}

div.w4-4 {
    width: 100%;
}




/* rule 1 */

div.text.one {
    background-image:url('cursorone.png');
    background-size: contain;
    color: transparent;
}

div.text.two {
    background-image:url('cursortwo.png');
    background-size: contain;
    color: transparent;
}

div.text.three {
    background-image:url('cursorthree.png');
    background-size: cover;
    color: transparent;
}

/* rule 2 */


div.text.a {
    background-color: black;
   
}

div.text.b {
    background-color: white;
    
}       

div.text.c {
    background-color: white;
    
    
}

/* rule 3 */

div.text.x {
    background-image: url('cursorfour.png');
    background-repeat: repeat-x;
    background-size: contain;
    color: transparent;
   
}

div.text.y {
    background-image: url('cursorfive.png');
    background-size: contain;
    color: transparent;
}

div.text.z {
    background-color: none;  
}


