body {
    background-color:black;
}

div.poster {
    width:75%;
    margin-left: auto;
    margin-right: auto;
 
}

div.container {
  display: flex;
  flex-wrap:wrap;
}

div.col {
  outline:none;
  overflow: hidden;
  
}


/* 4 col grid */

div.w1-4 {
  width: 25%;
}

div.w2-4 {
  width: 50%;
}
div.w3-4 {
  width: 75%;
}

div.w4-4 {
  width: 100%;
}

/* 3 col grid */

div.w1-3 {
  width: 33.33%;
}

div.w2-3 {
  width: 66.66%;
}

div.w3-3 {
  width: 100%;
}

div.w1-2 {
  width: 50%;
  
}

div.w2-2 {
  width: 100%
}

/* end of grids */


div.text {
    font-size:20px;
    font-family:Source Code;
    color: black;
    transition:0.5s;
    text-align: left;
}

@font-face {
  font-family: "Source Code";
  src: url(scregular.woff) format("woff");
  font-style: regular;
}
@font-face {
  font-family: "Source Code";
  src: url(scbold.woff) format("woff");
  font-style: bold;
}


/* rule 1 */

div.text.one {
  font-family: Source Code;
  font-style: regular;
}

div.text.two{
  font-family: Source Code;
  font-style: bold;
}


div.text.three {
  font-family: arial;
}
/* rule 2 */


div.text.a {
  color: greenyellow;
}

div.text.b {
  color: black;
}


div.text.c{
  color: greenyellow;
}
/* rule 3 */

div.text.x {
  text-shadow: none;
}

div.text.y {
  text-shadow: 2px 3px 4px;
}

div.text.z {
  text-shadow: none
}

div.fade {
  opacity: 30%;
}

div.base {
  font-family: arial;
  font-weight: bold;
  font-size: 50px;
  color: white;
  
  text-transform: uppercase;
}

